<h2>Included Validaiton Rules</h2>

<p>
  Although it is simple to create your own validation rules,
  Computed Validator comes with a set of included rules to get
  you started.
</p>

<h3>Between</h3>

<p>
  This rule determines whether a numeric value is between two given
  values (inclusive).
</p>

<div class="p-a-2">
  {{between-example}}
</div>

{{code-snippet name="between-example-validator.js"}}

<h3>Confirmed</h3>

<p>
  Fail validation if the value from one of the subject's properties does not
  match another.
</p>

<div class="p-a-2">
  {{confirmed-example}}
</div>

{{code-snippet name="confirmed-example-validator.js"}}

<h3>Exclusion</h3>

<p>
  Make sure that a value is not in a list of prohibited values.
</p>

<div class="p-a-2">
  {{exclusion-example}}
</div>

{{code-snippet name="exclusion-example-validator.js"}}
