<h2>Meta Validation Rules</h2>

<p>
  Meta validation rules create a new validation rule by combining and modifying existing rules.
</p>

<h3>All</h3>

<p>
  Simultaneously run all validation rules whenever the subject's value
  changes.
</p>

<div class="p-a-2">
  {{all-example}}
</div>

{{code-snippet name="all-example-validator.js"}}

<h3>Negate</h3>

<p>
  Invert the logic of another validation rule.
</p>

<div class="p-a-2">
  {{negate-example}}
</div>

{{code-snippet name="negate-example-validator.js"}}

<h3>On Property</h3>

<p>
  Change the default property used for a validation.
</p>

<div class="p-a-2">
  {{on-property-example}}
</div>

{{code-snippet name="on-property-example-validator.js"}}

<h3>Sequence</h3>

<p>
  Run validations in sequence. You can use this rule to ensure that users see
  one error at a time in logical order. This is also helpful if you want to
  hold off on an expensive validation until others have passed.
</p>

<div class="p-a-2">
  {{sequence-example}}
</div>

{{code-snippet name="sequence-example-validator.js"}}
